.change-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-card {
  padding: 25px;
  border-radius: 10px;
  max-width: 450px;
  width: 100%;
}

.change-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.change-header h2 {
  font-size: 18px;
  color: #333;
}

.close-btn {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.change-desc {
  font-size: 14px;
  color: #666;
  margin: 10px 0 15px;
}

.change-subtitle {
  font-size: 16px;
  margin-bottom: 10px;
}

.membership-list {
  display: flex;
  flex-direction: column;
  gap: 2px;
  
}

.membership-item {
  display: flex;
  align-items: center;
  padding: 4px;
  border: 2px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.membership-item:hover {
  background-color: #f5f5f5;
}

.membership-item.selected {
  background-color: #f0f4ff;
}

.membership-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
}

.membership-info h3 {
  font-size: 16px;
  margin: 0;
  color: #333;
}

.membership-info p {
  font-size: 12px;
  color: #666;
  margin: 2px 0;
}

.membership-price {
  margin-left: auto;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.membership-price.current {
  background: #ddd;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 12px;
}

.change-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cancel-btn,
.browse-btn {
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.cancel-btn {
  background-color: #e0e0e0;
  color: #333;
}

.cancel-btn:hover {
  background-color: #d6d6d6;
}

.browse-btn {
  background-color: #6a5acd;
  color: white;
}

.browse-btn:hover {
  background-color: #5a4dbc;
}
